[submodule "src/Core"]
	path = src/Core
	url = https://github.com/robertkleinschuster/pars-core.git
[submodule "src/Helper"]
	path = src/Helper
	url = https://github.com/robertkleinschuster/pars-helpers.git
[submodule "src/Component"]
	path = src/Component
	url = https://github.com/robertkleinschuster/pars-components.git
[submodule "src/Mvc"]
	path = src/Mvc
	url = https://github.com/robertkleinschuster/pars-mvc.git
[submodule "src/Admin"]
	path = src/Admin
	url = https://github.com/robertkleinschuster/pars-admin.git
[submodule "src/Cli"]
	path = src/Cli
	url = https://github.com/robertkleinschuster/pars-cli.git
[submodule "src/Frontend"]
	path = src/Frontend
	url = https://github.com/robertkleinschuster/pars-frontend.git
[submodule "src/Model"]
	path = src/Model
	url = https://github.com/robertkleinschuster/pars-models.git
[submodule "src/Import"]
	path = src/Import
	url = https://github.com/robertkleinschuster/pars-import.git
[submodule "src/Api"]
	path = src/Api
	url = https://github.com/robertkleinschuster/pars-api.git
