<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Pars master Tests">
            <directory>./test</directory>
        </testsuite>
        <testsuite name="Pars admin Tests">
            <directory>./src/Admin/test</directory>
        </testsuite>
        <testsuite name="Pars cli Tests">
            <directory>./src/Cli/test</directory>
        </testsuite>
        <testsuite name="Pars component Tests">
            <directory>./src/Component/test</directory>
        </testsuite>
        <testsuite name="Pars core Tests">
            <directory>./src/Core/test</directory>
        </testsuite>
        <testsuite name="Pars frontend Tests">
            <directory>./src/Frontend/test</directory>
        </testsuite>
        <testsuite name="Pars helper Tests">
            <directory>./src/Helper/test</directory>
        </testsuite>
        <testsuite name="Pars import Tests">
            <directory>./src/Import/test</directory>
        </testsuite>
        <testsuite name="Pars model Tests">
            <directory>./src/Model/test</directory>
        </testsuite>
        <testsuite name="Pars mvc Tests">
            <directory>./src/Mvc/test</directory>
        </testsuite>
        <testsuite name="Pars bean Tests">
            <directory>./src/Bean/test</directory>
        </testsuite>
        <testsuite name="Pars pattern Tests">
            <directory>./src/Pattern/test</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>
